@import '../../styles/mixins';
@import '../../styles/vars';

.years {
  @include font-main(200px, 700, 160px);

  display: flex;
  padding-bottom: 100px;
  letter-spacing: -4px;
  column-gap: 95px;
  cursor: default;

  @include media-breakpoint-down($xl) {
    @include font-main(150px, 700, 160px);
  }

  @include media-breakpoint-down($lg) {
    @include font-main(120px, 700, 72px);
  }

  @include media-breakpoint-down($md) {
    @include font-main(90px, 700, 72px);
  }

  @include media-breakpoint-down($sm) {
    @include font-main(56px, 700, 72px);

    justify-content: center;
    padding: 0;
    column-gap: 60px;
  }

  &__year_type_from {
    color: $date-from-color;

    @include media-breakpoint-down($lg) {
      padding-left: 8%;
    }
    @include media-breakpoint-down($sm) {
      padding: 0;
    }

    @include media-breakpoint-down($xs) {
      color: $slider-labels-color;
    }
  }

  &__year_type_to {
    padding-right: 40px;
    color: $date-to-color;

    @include media-breakpoint-down($xl) {
      padding-right: 0;
    }

    @include media-breakpoint-down($xs) {
      padding-right: 20px;
    }
  }
}
