@import '../../styles/mixins';
@import '../../styles/vars';

.years {
  @include font-main(200px, 700, 160px);

  display: flex;
  padding-bottom: 100px;
  letter-spacing: -4px;
  column-gap: 95px;
  cursor: default;

  &__year_type_from {
    color: $date-from-color;
  }

  &__year_type_to {
    padding-right: 40px;
    color: $date-to-color;
  }
}
