@import './vars';

@mixin button-reset-style() {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

@mixin tip-style() {
  width: auto;
  height: 8px;
  border-bottom: 2px solid $text-color;
  border-left: 2px solid $text-color;
  transform: rotate(45deg);
  content: '';
  aspect-ratio: 1/1;
}

@mixin font-main($font-size, $font-weight, $line-height) {
  color: $text-color;
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: $font-main;
  line-height: $line-height;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

@mixin media-breakpoint-up($width) {
  @media (min-width: ($width + 1)) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: ($min-width + 1)) and (max-width: $max-width) {
    @content;
  }
}
