@import './vars';

@mixin button-reset-style() {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

@mixin tip-style() {
  width: auto;
  height: 8px;
  border-bottom: 2px solid $text-color;
  border-left: 2px solid $text-color;
  transform: rotate(45deg);
  cursor: pointer;
  content: '';
  aspect-ratio: 1/1;
}

@mixin font-main($font-size, $font-weight, $line-height) {
  color: $text-color;
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: $font-main;
  line-height: $line-height;
}
