@import '../../styles/mixins';
@import '../../styles/vars';

.controller {
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 80px minmax(353px, 1fr) minmax(610px, 1fr) minmax(
      353px,
      1fr
    );
  padding-top: 166px;
  border-right: 1px solid $grid-color;
  border-left: 1px solid $grid-color;

  // &::before{
  //   content: '';
  //   align-self: center;
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   background-color: $grid-color;
  // }

  // &::after{
  //   content: '';
  //   top: 0px;
  //   justify-self: center;
  //   position: absolute;
  //   height: 100%;
  //   width: 1px;
  //   background-color: $grid-color;
  // }

  &__header {
    @include font-main(56px, 700, 67.2px);

    position: relative;
    grid-row: 1/2;
    grid-column: 2/3;
    box-sizing: border-box;
    max-width: 353px;
    margin: 0;
    cursor: default;

    &::before {
      position: absolute;
      top: 11px;
      left: -80px;
      width: 5px;
      height: calc(100% - 15px);
      background: $gradient;
      content: '';
    }
  }

  &__category-header {
    @include font-main(30px, 700, 30px);
    @include visually-hidden;
  }

  &__switcher {
    position: relative;
    z-index: 10;
    grid-row: 1/4;
    grid-column: 3/4;
    justify-self: start;
    box-sizing: border-box;
    width: 100%;
    padding-top: 47px;
    padding-right: 79px;
  }

  &__counter {
    @include font-main(15px, 400, 18px);

    grid-row: 2/3;
    grid-column: 2/3;
    padding-top: 395px;
    cursor: default;
  }

  &__buttons {
    display: flex;
    grid-row: 3/4;
    grid-column: 2/3;
    padding-top: 21px;
    column-gap: 20px;
  }

  &__button {
    @include button-reset-style;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid $button-border-color;
    border-radius: 50%;
    cursor: pointer;

    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }

    &::after {
      @include tip-style;
    }

    &-next {
      &::after {
        transform: rotate(225deg);
      }
    }
  }

  &__years {
    position: absolute;
    z-index: 0;
    align-self: center;
    justify-self: center;
  }

  &__slider {
    grid-row: 4/5;
    grid-column: 1/5;
    min-height: 200px;
    padding-top: 56px;
  }
}
