@import '../../styles/mixins';
@import '../../styles/vars';

.controller {
  
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 80px minmax(353px, 1fr) minmax(300px, 610px) minmax(
      353px,
      1fr
    );
  padding-top: 166px;
  padding-bottom: 30px;
  border-right: 1px solid $grid-color;
  border-left: 1px solid $grid-color;

  @include media-breakpoint-down($xl) {
    grid-template-columns: 80px 0.75fr minmax(300px, 610px) 0.75fr;
  }

  @include media-breakpoint-down($lg) {
    grid-template-columns: 80px 0.5fr minmax(300px, 500px) 0.5fr;
  }

  @include media-breakpoint-down($md) {
    grid-template-columns: 80px 0.5fr minmax(300px, 400px) 0.5fr;
  }

  @include media-breakpoint-down($sm) {
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 100%;
    padding: 58px 20px 30px;
  }

  &::before,
  &::after {
    position: absolute;
    background-color: $grid-color;
    content: '';
    @include media-breakpoint-down($sm) {
      content: none;
    }
  }

  &::before {
    align-self: center;
    width: 100%;
    height: 1px;
    margin-bottom: 110px;

    @include media-breakpoint-down($lg) {
      margin-bottom: 80px;
    }

    @include media-breakpoint-down($md) {
      margin-bottom: 120px;
    }
  }

  &::after {
    top: 0;
    justify-self: center;
    width: 1px;
    height: 100%;

    @include media-breakpoint-down($lg) {
      margin-left: 80px;
    }
  }

  &__header {
    @include font-main(56px, 700, 120%);

    position: relative;
    grid-row: 1/2;
    grid-column: 2/3;
    box-sizing: border-box;
    max-width: 353px;
    margin: 0;
    cursor: default;

    @include media-breakpoint-down($xl) {
      @include font-main(45px, 700, 120%);

      grid-column: 2/4;
      max-width: 123px;
    }

    @include media-breakpoint-down($sm) {
      @include font-main(30px, 700, 120%);

      grid-column: 1/2;
    }

    @include media-breakpoint-down($xs) {
      @include font-main(20px, 700, 120%);
    }

    &::before {
      position: absolute;
      top: 11px;
      left: -80px;
      width: 5px;
      height: calc(100% - 15px);
      background: $gradient;
      content: '';

      @include media-breakpoint-down($xl) {
        left: -70px;
      }
    }
  }

  &__category-header {
    @include font-main(22px, 700, 30px);

    grid-row: 3/4;
    grid-column: 1/2;
    transform: translateY(0);
    opacity: 1;
    transition: $transition;
    @include media-breakpoint-up($sm) {
      @include visually-hidden;
    }

    &_hidden {
      transition: $transition;
      transform: translateY(20px);
      opacity: 0;
    }
  }

  &__switcher {
    position: relative;
    z-index: 10;
    grid-row: 1/4;
    grid-column: 3/4;
    justify-self: start;
    box-sizing: border-box;
    width: 100%;
    padding-top: 47px;
    padding-right: 79px;

    @include media-breakpoint-down($lg) {
      padding-right: 0;
    }
    @include media-breakpoint-down($sm) {
      position: absolute;
      bottom: 18px;
      grid-row: 5/6;
      grid-column: 1/2;
      padding: unset;
    }
  }

  &__counter {
    @include font-main(15px, 400, 18px);

    grid-row: 2/3;
    grid-column: 2/3;
    padding-top: 395px;
    cursor: default;

    @include media-breakpoint-down($lg) {
      padding-top: 300px;
    }

    @include media-breakpoint-down($sm) {
      grid-row: 4/5;
      grid-column: 1/2;
      padding-top: 0;
    }

    @include media-breakpoint-down($xs) {
      padding-top: 0;
      font-size: 13px;
    }
  }

  &__buttons {
    display: flex;
    grid-row: 3/4;
    grid-column: 2/3;
    padding-top: 21px;
    column-gap: 20px;

    @include media-breakpoint-down($sm) {
      grid-row: 5/6;
      grid-column: 1/2;
      justify-self: start;
    }

    @include media-breakpoint-down($sm) {
      padding-top: 8px;
      column-gap: 6px;
    }
  }

  &__button {
    @include button-reset-style;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid $button-border-color;
    border-radius: 50%;
    cursor: pointer;

    @include media-breakpoint-down($sm) {
      width: 25px;
      height: 25px;
    }

    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }

    &::after {
      @include tip-style;
      @include media-breakpoint-down($sm) {
        height: 4px;
      }
    }

    &-next {
      &::after {
        transform: rotate(225deg);
      }
    }
  }

  &__years {
    position: absolute;
    z-index: 0;
    align-self: center;
    justify-self: center;
    @include media-breakpoint-down($sm) {
      position: static;
      grid-row: 2/3;
      grid-column: 1/2;
      align-self: unset;
      justify-self: center;
      width: 100%;
    }

    @include media-breakpoint-down($xs) {
      padding-top: 54px;
    }
  }

  &__slider {
    grid-row: 4/5;
    grid-column: 1/5;
    padding-top: 56px;
    transition: $transition;
    transition-duration: 1500ms;

    @include media-breakpoint-down($sm) {
      grid-row: 3/4;
      grid-column: 1/2;
      height: 200px;
      margin-top: 100px;
      padding-top: 18px;
      padding-right: 50px;
      border-top: 2px solid $grid-color;
      transform: translateY(0);
      transition: $transition;
    }

    &_hidden {
      visibility: hidden;
      opacity: 0;
      transition: $transition;
      transition-duration: 1ms;

      @include media-breakpoint-down($sm) {
        transform: translateY(20px);
      }
    }
  }
}
