@import '../../styles/_mixins';
@import '../../styles/_vars';

.switcher {
  &__wrapper {
    @include border;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1/1;
  }

  &__button {
    @include button-reset-style;
    @include border;

    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    background: $backgroundColor;
    cursor: pointer;
  }
}
