@import '../../styles/mixins';
@import '../../styles/vars';

.slider {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1270px;
  margin-left: 80px;

  @include media-breakpoint-down($xl) {
    max-width: 100%;
    margin-right: 80px;
  }

  @include media-breakpoint-down($xs) {
    margin: 0;
  }

  &__slide {
    max-width: 320px;
    cursor: default;
  }

  @include media-breakpoint-down($xs) {
    min-width: 166px;
  }

  &__slide-label {
    color: $slider-labels-color;
    font-weight: 400;
    font-size: 25px;
    font-family: $font-slider-labels;
    line-height: 30px;

    @include media-breakpoint-down($sm) {
      font-size: 20px;
    }

    @include media-breakpoint-down($xs) {
      font-size: 16px;
      line-height: 19.2px;
    }
  }

  &__slide-description {
    @include font-main(20px, 400, 30px);

    margin: 0;
    padding-top: 15px;

    @include media-breakpoint-down($sm) {
      font-size: 16px;
    }
    @include media-breakpoint-down($xs) {
      font-size: 14px;
      line-height: 20.3px;
    }
  }

  &__button {
    @include button-reset-style;

    position: absolute;
    width: 40px;
    height: 40px;
    background: $nav-button-background;
    border-radius: 50%;
    box-shadow: $nav-button-shadow;
    cursor: pointer;
    @include media-breakpoint-down($sm) {
      @include visually-hidden;
    }

    &:disabled {
      visibility: hidden;
    }

    &::after {
      @include tip-style;

      bottom: 15px;
      display: flex;
      height: 6px;
      border-color: $slider-labels-color;
    }
  }

  &__button_type_prev {
    left: -60px;

    &::after {
      position: absolute;
      right: 15px;
      transform: rotate(45deg);
    }
  }

  &__button_type_next {
    position: absolute;
    right: -50px;

    @include media-breakpoint-down($xl) {
      right: -60px;
    }

    &::after {
      position: absolute;
      left: 15px;
      transform: rotate(-135deg);
    }
  }
}
