@import '../../styles/mixins';
@import '../../styles/vars';

.slider {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1270px;
  // padding-left: 80px;
  // border: 1px solid red;
  margin-left: 80px;

  &__slide {
    max-width: 320px;
    cursor: default;
  }

  &__slide-label {
    color: $slider-labels-color;
    font-weight: 400;
    font-size: 25px;
    font-family: $font-slider-labels;
    line-height: 120%;
  }

  &__slide-description {
    @include font-main(20px, 400, 30px);

    margin: 0;
    padding-top: 15px;
  }

  &__button {
    @include button-reset-style;

    position: absolute;
    width: 40px;
    height: 40px;
    background: $nav-button-background;
    border-radius: 50%;
    box-shadow: $nav-button-shadow;

    &:disabled {
      visibility: hidden;
    }

    &::after {
      @include tip-style;

      bottom: 15px;
      display: flex;
      height: 6px;
      border-color: $slider-labels-color;
    }
  }

  &__button_type_prev {
    left: -60px;

    &::after {
      position: absolute;
      right: 15px;
      transform: rotate(45deg);
    }
  }

  &__button_type_next {
    position: absolute;
    right: -50px;

    &::after {
      position: absolute;
      left: 15px;
      transform: rotate(-135deg);
    }
  }
}
